style(is="custom-style").
	#mixer-topCard {
		color: white;
		background-color: #00bebe;
		margin-bottom: 0;
	}

	#mixer-topCard span,
	#mixer-masterFaderCard span {
		@apply(--paper-font-display1);
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#mixer-masterFaderCard {
		background-color: #007070;
		color: white;
		margin-bottom: 16px;
	}

	#soundTestDialogOpenButton {
		color: black;
		background-color: white;
	}

	#masterFader {
		width: 250px;
		--paper-slider-active-color: white;
		--paper-slider-knob-color: white;
		--paper-input-container-focus-color: var(--google-blue-700);
		--paper-input-container-color: white;
		--paper-input-container-input-color: white;
		--paper-slider-input: {
			width: 80px;
		};
	}

	#soundTestDialog {
		max-width: 492px;
	}

paper-card.ncg-card#mixer-topCard
	.card-content.layout.horizontal.center
		span.flex(style="font-size: 32px;") Audio Mixer
		paper-button#soundTestDialogOpenButton(raised, onclick="soundTestDialog.open();") Sound Test

paper-card.ncg-card#mixer-masterFaderCard
	.card-content.layout.horizontal.center
		span.flex(style="font-size: 28px;") Master Fader
		paper-slider#masterFader.flex-none(min="0" max="100" step="1" editable)

each bundle in bundles
	if (bundle.soundCues && bundle.soundCues.length > 0)
		ncg-sounds(bundle-name=bundle.name)

paper-dialog#soundTestDialog(with-backdrop)
	h2 Sound Test
	div
		p.paper-font-body1
			| To perform a full test of your sound setup inside your
			| production pipline, place the graphic linked by the buttons
			| below in your Stream setup, and use the preview buttons
			| on the Mixer panel.
	.buttons
		paper-button(dialog-confirm) Copy URL
		paper-button(dialog-confirm) Open In New Tab
		paper-button(dialog-dismiss) Close


